/* Personal Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* Variables */
:root {
  /* Colors */
  /* Colors */
  --main-color: #f1e4b8;
  --second-color: #eae1f5;
  --paragraph-color: #333;

  /* Spaces */
  --space-1: 10px;
  --space-2: 20px;
  --space-3: 30px;
  --space-4: 40px;
}

/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

input {
  padding: 10px 0px 10px 13px;
  border-radius: 8px;
  border: 2px solid #cccccc8f;
}

h1 {
  font-size: 3.6rem;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
}

h4 {
  font-size: 1.45rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

h6 {
  font-size: 0.875rem;
  margin: 0;
}

/* ---------------------------------------- */

/* Body */

/* Container */
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.search-buttom {
  margin-left: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-content > ul {
  display: flex;
}

.center-content > ul,
.log-content > ul {
  display: flex;
  gap: 40px;
}

/* Main */

/* Hero */

.hero-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.hero-items{
  flex:1 0 450px;
  background-color: var(--main-color);
  margin-top: 30px;

}

.hero-figure{
  width: 100%;

}
.hero-image{
  display: block;
  object-fit: cover;
  width: 100%;


}

.hero-content{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap : 20px;
  flex-wrap: wrap;
  padding: 30px 0;
}


.shop-button{
  background: transparent;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid rgb(28, 26, 26);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
}

.shop-button:hover{
  transform: scale(1.04);
  cursor: pointer;
}

/* Featured-products */

/* Products */

.featured-products > h2 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-4);
  text-align: center;
}

.products-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  flex: 0 0 calc((100% - 30px) / 4);
  padding: 10px 10px;
  position: relative;
}

.product-image {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.product-image> img {
  width: 100%;
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--space-1);
}

.product-info> button {
  appearance: none;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  color: var(--paragraph-color);
  cursor: pointer;
  font-size: 16px;
  list-style: none;
  padding: 10px 20px;
}

.product-discount {
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: -15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Season sale section */


main > section.season-sale {
  background: url(/assets/images/products/sale_end.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.season-sale-info {
  position: absolute;
  top: 50%;
  width: 30%;
  left: 2%;
}

.season-sale-info > button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 7px;
  font-size: 18px;
}

/* Home and living section */
  
.home-living > h3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-4);
  text-align: center;
}

.home-living-photos > div:nth-child(2),
.home-living-photos > div:nth-child(3) {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home-living-photos > div > button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 7px;
  font-size: 16px;
}

.home-living-photos {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);

}

.home-living-photos > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Footer section */
.footer {
  background-color: var(--main-color);
  margin-top: var(--space-4);
}

.footer-section {
  display: flex;
  justify-content: space-around;
  padding-top: var(--space-2);
}

.footer-section > div {
  flex-basis: calc(33.3%);
}

.footer-contact > div.social {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.footer .social> img {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
.footer-subscribe > form  {
    margin-top: 10px;
    display: flex;
    gap: 20px
}
.footer-subscribe > form > button {
  padding: 10px 20px;
  background-color: var(--paragraph-color);
  color: var(--second-color);
  border-radius: 7px;
  font-size: 16px;
}